<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CreateRoomForm</title>
</head>
<body>
<header>
    <div class="regmainbar">
        <div align="center" class="discription" style="color:green" >
            <h1>Form of create room</h1>
            <p>Login : <span id="name"><%=user.username%></span></p>
		</div>
    </div>
</header>
<div  class="regbody">
    <div border="1" align="center" class="regBar">
        <form  method="Post" action="/createRoom">
            <br>
            Name for room : <input type="text" name="name" />
            <br>
            <br>
            <input type="hidden" name="username" value="<%=user.username%>" />
            <input type="submit" value="submit" />
            <br>
        </form>
    </div>
</div>
<footer>
</footer>
</body>
</html>
