<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   <div>
       <span>mainPage</span>
       <span><a href="login">Registration</a></span>
   </div>

  </body>
</html>