<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>RegistrationForm</title>
</head>
<body>
<header>
    <div class="regmainbar">
        <div align="center" class="discription" style="color:green" >
            <h1>Registration Form</h1>
        </div>
    </div>
</header>
<div  class="regbody">
    <div border="1" align="center" class="regBar">
        <form  method="Post" action="/login">
            <br>
            login <input type="text" name="username" />
            <br>
            <br>
            Password: <input type="password" name="password" />
            <br>
            <br>
            <input type="submit" value="submit" />
            <br>
        </form>
    </div>
</div>
<footer>
</footer>
</body>
</html>
